/Tema 3/p3e5/nbproject/private/
/Tema 3/p3e5/build/
/Tema 3/p3e6/nbproject/private/
/Tema 3/p3e6/build/
/Tema 3/p3e7/nbproject/private/
/Tema 3/p3e7/build/
/Tema 3/p3e8/nbproject/private/
/Tema 3/p3e8/build/
/Tema 3/p3e9/nbproject/private/
/Tema 3/p3e9/build/
/Tema 3/p3e9V2/nbproject/private/
/Tema 3/p3e9V2/build/
/Tema 4/t4p1/nbproject/private/
/Tema 4/t4p1/build/
/Tema 4/t4p2/nbproject/private/
/Tema 4/t4p2/build/
/Tema 4/t4p3/nbproject/private/
/Tema 4/t4p3/build/
/Tema 4/t4p4/nbproject/private/
/Tema 4/t4p4/build/
/Tema 4/t4p5/nbproject/private/
/Tema 4/t4p5/build/
/Tema 4/t4p6/nbproject/private/
/Tema 4/t4p6/build/
/Tema 4/t4p7/nbproject/private/
/Tema 4/t4p7/build/
/Tema 4/t4p8/nbproject/private/
/Tema 4/t4p8/build/
/Tema 4/T4p9/nbproject/private/
/Tema 4/T4p9/build/
/Tema 4/t4p10/nbproject/private/